Repository Andrey529/LetiPrint, pull requests merged in 2023-07, with the labels that each got.

#61 55 added logs for /metaData and /downloadFile endp…
  BackendService/pom.xml
  BackendService/src/main/java/com/example/backendservice/BackendLogger.java
  BackendService/src/main/java/com/example/backendservice/controller/BackendController.java
  BackendService/src/main/java/com/example/backendservice/models/MetaData.java
  BackendService/src/main/java/com/example/backendservice/repositories/MetaDataRepository.java
  BackendService/src/main/java/com/example/backendservice/serelization/JsonSerelizator.java
  BackendService/src/main/java/com/example/backendservice/service/BackendService.java
  BackendService/src/main/resources/application.properties
  BackendService/src/main/resources/log4j2.xml
Labels: For: Backend, Priority: High, Type: Feature, Status: Review needed

#65 feat(LetiPrintBot): added logging
  LetiPrintBot/pom.xml
  LetiPrintBot/src/main/java/com/example/letiprintbot/LetiPrintBotLogger.java
  LetiPrintBot/src/main/java/com/example/letiprintbot/service/LetiPrintBot.java
  LetiPrintBot/src/main/resources/log4j2.xml
Labels: Type: Feature, Status: Review needed, For: TelegramBot

#66 organized the deletion of old records in the database
  BackendService/src/main/java/com/example/backendservice/AppError.java
  BackendService/src/main/java/com/example/backendservice/BackendLogger.java
  BackendService/src/main/java/com/example/backendservice/BackendServiceApplication.java
  BackendService/src/main/java/com/example/backendservice/controller/BackendController.java
  BackendService/src/main/java/com/example/backendservice/models/MetaData.java
  BackendService/src/main/java/com/example/backendservice/repositories/MetaDataRepository.java
  BackendService/src/main/java/com/example/backendservice/service/BackendService.java
Labels: For: Backend, Priority: Medium, Type: Feature, Status: Review needed

#67 feat(IoTService): added ability to start IoTService automatically, but with the need to restart the printer
  IoTService/Dockerfile
  IoTService/docker-compose.yml
  IoTService/src/FileDownloader/FileDownloader.cpp
Labels: Type: Enhancement, Priority: Medium, Status: Review needed, For: IoTService
